<h1>This is list info</h1>
<h3><%= @list.title %></h3>
<%= link_to "My Lists", lists_path, class: "btn btn-primary" %>
<%= link_to "Edit List", edit_list_path(@list), class: "btn btn-warning" %>
<%= button_to "Delete", @list, method: :delete %>