<div class="container">

  <div class="alert alert-secondary mt-3" role="alert">
    <h3>Hi <%= @recipe_owner.email %>, your recipe has just been marked cooked</h3>
  </div>

  <div class="card mt-3">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p>Unfortunately, your recipe <strong><%= @recipe.title %></strong> has just been marked cooked by <%= @user.email %>.</p>
      <br />
      <h4>Go on to create and share interesting content for others...</h4>
      <br />
      <a href="/" class="btn btn-primary">Go to Recipes</a>
    </div>
  </div>
</div>