<div class="container">

  <div class="alert alert-secondary mt-3" role="alert">
    <h3>Glad to see you at Recipes, <%= @user.email %></h3>
  </div>

  <div class="card mt-3">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h3>Start using Recipes, with following features:</h3>
      <ul>
        <li>Add new Recipes</li>
        <li>Describe the meal/cuisine briefly and in details</li>
        <li>Add instruction steps</li>
        <li>Reorder instruction steps</li>
        <li>Follow users</li>
        <li>Like Recipes of users</li>
      </ul>
      <a href="/" class="btn btn-primary">Go to Recipes.com</a>
    </div>
  </div>
</div>

