<a href="#" class="list-group-item list-group-item-action mt-3" aria-current="true">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= recipe.title %></h5>
    <small>3 days ago</small>
  </div>
  <p class="mb-1"><%= recipe.description %></p>
  <small>And some small print.</small>
  <%= link_to "Details", recipe, class: "btn btn-primary" %>
</a>
