<div>
  <div class="row mt-5">
    <div class="col-10">
      <h1 class="display-3">
        <% if user_signed_in? %>
          My Recipes
        <% else %>
          Shared Recipes
        <% end %>
      </h1>
    </div>
    <div class="col-2">
      <% if user_signed_in? %>
        <%= link_to "New Recipe", new_recipe_path, class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
  <div class="list-group">
    <% @recipes.each do |recipe| %>
      <%= render 'recipe', recipe: recipe %>
    <% end %>
  </div>
</div> 