<%= form_with(model: @ingredient, class: "row mt-3 d-flex justify-content-between") do |form| %>
  <div class = "col">
    <%= form.text_field :name, class: "form-control ms-2", placeholder: "New ingredient" %>
  </div>
  <div class = "col-auto">
    <%= form.button type: :submit, class: "btn btn-success" do %>
      <i class = "fa-solid fa-check"></i>
    <% end %>
    <%= link_to ingredients_path, class: "btn btn-warning" do %>
      <i class = "fa-solid fa-times"></i>
    <% end %>
  </div>
<% end %>