<% if user_signed_in? %>
    <div class="list-group mt-3">
        <div class="container-fluid bg-dark text-light rounded-3 p-2 d-flex justify-content-between">
            <h1 class="display-5 mt-3 ms-2"><%= t('followers.your_followers') %></h1>
        </div>

        <% @followers.each do |follower| %>
            <div class="list-group-item d-flex justify-content-between ms-2 mt-3 rounded-3">
                <div>
                    <%= link_to follower, class: "list-group-item-action mb-1", style: "text-decoration: none" do %>
                        <h5 class="mb-1"><%= follower.email %></h5>
                    <% end %>

            </div>
        <% end %>

        <% if @followers.count.zero? %>
            <h3 class="display-6 mt-3">Nobody is following you at the moment...</h3>
        <% end %>
    </div>
<% end %>
